body{background-color: #0d1a2d;font-size: 15px;font-family: 'Outfit', sans-serif;}
div#div_principal{
    background-color: #15273f;
    height: 480px;
    width: 270px;
    margin: auto;
    border-radius: 15px;
    padding: 18px;
    margin-top: 60px;
    
    
}
img#imagem_equi{
    height: 100%;
    width: 100%;    
    border-radius: 10px;
    
    
}
div#div_img{
    margin: auto;
    text-align: center;
    position: relative;
}
p#p1{color: white;}
p#p2{color: #93a7ca;}
p#p3{color: #93a7ca;}

div#eth{color: #34ffff;}

div#divre{display: inline;float: right;color:#8eaed7 ;}
img#imagem_avatar{width: 30px;height: 30px;}
div#apareça{
    background-color: #0092a1;
    width: 100%;
    height:99%;
    text-align: center;
    border-radius: 10px;
    opacity: 0.8;
    display:none;
    position: absolute;
    top: 0;
    right: 0;
    
}
img#olho{position: relative;top: 50%;transform: translateY(-50%);}
#iden{color: white;text-decoration: none;}
#iden:hover{color:#34ffff ;}
#iden2{color: white;text-decoration: none;}
#iden2:hover{color:#34ffff ;}
#ativar:hover#apareça






